*{
    outline: none;
}

.todo{
    width: 500px;
    margin: 0 auto;
}

.todo h1{
    color: rgb(134, 134, 134);
}

input#input{
    text-align: center;
    display: block;
    margin: 10px auto;
    width: 400px;
    height: 20px;
    border: 1px solid #ccc;
    color: #000;
}

.todo__buttons{
    display: flex;
    justify-content: center;
}

.todo__buttons input{
    border: none;
    border-radius: 5px;
    margin-right: 10px;
    height: 30px;
    background-color: rgb(59, 137, 255);
    color: #fff;
}



.todo__list ul{
    list-style: none;
}

.todo__list li{
    display: flex;
    border: 1px solid #ccc;
    margin-top: 1px;
}

.todo__list li p{
    flex-grow: 1;
}

.todo__list li input{
    display: block;
    margin: auto 10px;
}

.todo__list li button{
    border: none;
    margin: auto 10px;
    display: block;
    background-color: rgb(255, 116, 116);
    color: #fff;
}

.checked p{
    text-decoration: line-through;
}

.none-checked{
    text-decoration: none;
}